.certified-autos-nav {
  background: #000;
}

.certified-autos-nav__wrapper {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.certified-autos-nav__title {
  margin-right: 90px;
}

.certified-autos-nav__title h3 {
  min-width: 256px;
  cursor: pointer;
  padding: 20px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.certified-autos-nav nav {
  flex-wrap: wrap;
}

.certified-autos-nav nav ul {
  display: flex;
  flex-wrap: wrap;
}

.certified-autos-nav nav ul li {
  margin: 10px;
}

.certified-autos-nav nav ul li a {
  padding: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.certified-autos-nav nav ul li a img {
  display: none;
}
